* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial Verdana sans-serif;
}
/* header */
header{
    height: 110px;
    line-height: 110px;
}
#logo {
    width: 100px;
    line-height: 100px;
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

header h1 {
    vertical-align: middle;
    font-size: 50px;

}

/* main */
#sfondo {
    width: 100%;
    height: 1000px;
    background-color: lightgrey;
    background-size: cover;
    padding-top: 80px;
}

#container{
    background-color: white;
    width: 60%;
    height: 800px;
    margin: auto;
    padding-top: 20px;
}

#margin {
    width: 90%;
    margin: 0 auto;
}

#margin > section{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
}
/* button */
.button {
    border: solid 1px lightgrey;
    padding: 5px;
    background-color: rgb(96, 215, 255);
    border-radius: 10px;
}

.button-white {
    border: solid 1px lightgrey;
    padding: 5px;
    border-radius: 10px;
}

#linea {
    border-bottom: 1px solid lightgrey;
    padding: 20px 0;
}
/* blocchi */
.blocchetto{
    line-height: 100px;
}

section > div {
    line-height: 40px;
}

h2{
    font-size: 30px;
}

.symbol-triangle {
    font-size: 20px;
}

.check {
    font-size: 16px;
    color: green;
    background-color: white;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid green;
}

.symbol-x {
    font-size: 16px;
    color: red;
    background-color: white;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid red;
}
.color {
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.blu {
    background-color: rgb(58, 114, 236);   
}

.purple {
    background-color: purple;
}

.acquamarina {
    background-color: rgb(45, 185, 138);
}

.orange {
    background-color: orange;
}

.violet {
    background-color: violet;
}

.green {
    background-color: green;
}

